<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel= "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>

        <div class="container">
            <% books.forEach(function(books){ %>
<form method="POST" action="/update/<%= books.book_id %>" autocomplete="off">
    <div class="form-group">
        <label><b>Book name:</b></label>
        <input type= "text" name="bname" class="form-control" value="<%= books.book_name %>">
    </div>

    <div class="form-group">
        <label><b>Author name:</b></label>
        <input type= "text" name="aname" class="form-control" value="<%= books.author_name %>">
    </div>

    <div class="form-group">
        <label><b>Author email:</b></label>
        <input type= "email" name="email" class="form-control" value="<%= books.author_email %>">
    </div>
    <input type="submit" name="update" value="Update" class="btn btn-success">
</form>
<%  })  %>
        </div>    
    </body>

</html>